/* CSS Grid
===================================*/

.row {
	margin-bottom: 0;
}

.row:after {
	display: block;
	content: '.';
	height: 0;
	visibility: hidden;
	clear: both;
}

[class*="span"] {
	float: left;
	display: inline;
}

.span1 	{	width:  5% }
.span2 	{	width: 10% }
.span3 	{	width: 15% }
.span4 	{	width: 20% }
.span5 	{	width: 25% }
.span6 	{	width: 30% }
.span7 	{	width: 35% }
.span8 	{	width: 40% }
.span9 	{	width: 45% }
.span10 {	width: 50% }
.span11 {	width: 55% }
.span12 {	width: 60% }
.span13 {	width: 65% }
.span14 {	width: 70% }
.span15 {	width: 75% }
.span16 {	width: 80% }
.span17 {	width: 85% }
.span18 {	width: 90% }
.span19 {	width: 95% }
.span20 {	width: 100% }

.offset1  {	margin-left:  5% }
.offset2  {	margin-left: 10% }
.offset3  {	margin-left: 15% }
.offset4  {	margin-left: 20% }
.offset5  {	margin-left: 25% }
.offset6  {	margin-left: 30% }
.offset7  {	margin-left: 35% }
.offset8  {	margin-left: 40% }
.offset9  {	margin-left: 45% }
.offset10 {	margin-left: 50% }
.offset11 {	margin-left: 55% }
.offset12 {	margin-left: 60% }
.offset13 {	margin-left: 65% }
.offset14 {	margin-left: 70% }
.offset15 {	margin-left: 75% }
.offset16 {	margin-left: 80% }
.offset17 {	margin-left: 85% }
.offset18 {	margin-left: 90% }
.offset19 {	margin-left: 95% }
.offset20 {	margin-left: 100% }
